n8n/content-video-pipeline.json
{
  "name": "BattleBuddy Content Video Pipeline",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-400, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-400, 160],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-160, 80],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-video-api",
              "name": "VIDEO_API",
              "type": "string",
              "value": "runway"
            },
            {
              "id": "cfg-videos-per-theme",
              "name": "VIDEOS_PER_THEME",
              "type": "number",
              "value": 3
            },
            {
              "id": "cfg-themes",
              "name": "THEMES",
              "type": "array",
              "value": "=[\"liberation\",\"body healing\",\"clarity of mind\",\"milestone celebration\",\"nature and breath\",\"social reconnection\",\"morning ritual\",\"craving as a wave\",\"small wins\",\"quiet strength\"]"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Split By Theme",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [80, 80],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "All Themes Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [320, -120],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Generate Prompts (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 80],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"claude-haiku-4-5-20251001\", max_tokens: 1024, messages: [{ role: \"user\", content: `You are generating short cinematic AI video prompts for a smoking/vaping cessation app's content feed. Theme: \"${$json.theme}\". Generate exactly ${$('Set Config').first().json.VIDEOS_PER_THEME} distinct 5-8 second video prompts for this theme. Prompts must be vivid and visual, abstract/nature/human-subject only, no on-screen text, no close-up faces, no smoking or vaping imagery. Respond with ONLY a JSON array of prompt strings — no markdown, no commentary.` }] }) }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 80],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const theme = $('Split By Theme').item.json.theme;\nconst raw = $json.content[0].text;\nconst match = raw.match(/\\[[\\s\\S]*\\]/);\nconst prompts = JSON.parse(match ? match[0] : raw);\nreturn prompts.map((prompt) => ({ json: { theme, prompt } }));"
      }
    },
    {
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Split By Prompt",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [800, 80],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Generate Video (Runway)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 80],
      "parameters": {
        "method": "POST",
        "url": "https://api.dev.runwayml.com/v1/text_to_video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RUNWAY_API_KEY }}" },
            { "name": "X-Runway-Version", "value": "2024-11-06" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"gen3a_turbo\", promptText: $json.prompt, duration: 5, ratio: \"768:1344\" }) }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Store Task ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1280, 80],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "task-id",
              "name": "taskId",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "task-theme",
              "name": "theme",
              "type": "string",
              "value": "={{ $('Split By Prompt').item.json.theme }}"
            },
            {
              "id": "task-prompt",
              "name": "prompt",
              "type": "string",
              "value": "={{ $('Split By Prompt').item.json.prompt }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1520, 80],
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      }
    },
    {
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "Poll Video Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 80],
      "parameters": {
        "method": "GET",
        "url": "=https://api.dev.runwayml.com/v1/tasks/{{ $('Store Task ID').item.json.taskId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.RUNWAY_API_KEY }}" },
            { "name": "X-Runway-Version", "value": "2024-11-06" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0022-4000-8000-000000000022",
      "name": "Read Poll Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 80],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const pollResponse = $json;\nlet pollAttempts = 0;\ntry {\n  pollAttempts = $('Increment Attempt').item.json.pollAttempts;\n} catch (e) {\n  pollAttempts = 0;\n}\nreturn {\n  json: {\n    status: pollResponse.status,\n    output: pollResponse.output || null,\n    failureReason: pollResponse.failure || pollResponse.failureCode || null,\n    taskId: $('Store Task ID').item.json.taskId,\n    theme: $('Store Task ID').item.json.theme,\n    prompt: $('Store Task ID').item.json.prompt,\n    pollAttempts,\n  },\n};"
      }
    },
    {
      "id": "a1b2c3d4-0013-4000-8000-000000000013",
      "name": "IF Succeeded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2240, 80],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "succeeded-cond",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCEEDED",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0014-4000-8000-000000000014",
      "name": "IF Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2240, 320],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "failed-cond",
              "leftValue": "={{ $json.status }}",
              "rightValue": "FAILED",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0023-4000-8000-000000000023",
      "name": "Increment Attempt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2480, 440],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    ...$json,\n    pollAttempts: $json.pollAttempts + 1,\n  },\n};"
      }
    },
    {
      "id": "a1b2c3d4-0024-4000-8000-000000000024",
      "name": "Check Retry Limit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2720, 440],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "retry-limit-cond",
              "leftValue": "={{ $json.pollAttempts }}",
              "rightValue": 10,
              "operator": { "type": "number", "operation": "lt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0015-4000-8000-000000000015",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2480, -40],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.output[0] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0016-4000-8000-000000000016",
      "name": "Upload to R2",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [2720, -40],
      "parameters": {
        "operation": "upload",
        "bucketName": "battlebuddy-content",
        "fileName": "=videos/{{ $('Store Task ID').item.json.theme.replace(/\\s+/g, '-') }}/{{ $('Store Task ID').item.json.taskId }}.mp4",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {}
      },
      "credentials": {
        "s3": {
          "id": "r2-s3-credentials",
          "name": "Cloudflare R2 (S3-compatible)"
        }
      }
    },
    {
      "id": "a1b2c3d4-0017-4000-8000-000000000017",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2960, -40],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/content_videos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "content-type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ r2_url: `${$env.CF_R2_PUBLIC_URL}/videos/${$('Store Task ID').item.json.theme.replace(/\\s+/g, '-')}/${$('Store Task ID').item.json.taskId}.mp4`, r2_key: `videos/${$('Store Task ID').item.json.theme.replace(/\\s+/g, '-')}/${$('Store Task ID').item.json.taskId}.mp4`, theme: $('Store Task ID').item.json.theme, tags: [], prompt: $('Store Task ID').item.json.prompt, duration_seconds: 5, video_api: $('Set Config').first().json.VIDEO_API, generation_id: $('Store Task ID').item.json.taskId, status: \"active\" }) }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0018-4000-8000-000000000018",
      "name": "Wait Between Videos",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3200, -40],
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      }
    },
    {
      "id": "a1b2c3d4-0019-4000-8000-000000000019",
      "name": "Log Failure to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2960, 440],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/content_videos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "content-type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ r2_url: \"\", r2_key: `failed/${$json.taskId}-${$json.status || 'timeout'}-attempt${$json.pollAttempts}-${Date.now()}`, theme: $json.theme, tags: [], prompt: $json.prompt, duration_seconds: null, video_api: $('Set Config').first().json.VIDEO_API, generation_id: $json.taskId, status: \"failed\" }) }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0020-4000-8000-000000000020",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [80, 480],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0021-4000-8000-000000000021",
      "name": "Log Critical Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 480],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/content_videos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "content-type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ r2_url: \"\", r2_key: `failed/workflow-error-${Date.now()}`, theme: \"unknown\", tags: [], prompt: $json.execution?.error?.message || \"workflow error\", duration_seconds: null, video_api: \"runway\", generation_id: $json.execution?.id || null, status: \"failed\" }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Set Config", "type": "main", "index": 0 }]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "Set Config", "type": "main", "index": 0 }]]
    },
    "Set Config": {
      "main": [[{ "node": "Split By Theme", "type": "main", "index": 0 }]]
    },
    "Split By Theme": {
      "main": [
        [{ "node": "All Themes Done", "type": "main", "index": 0 }],
        [{ "node": "Generate Prompts (Claude)", "type": "main", "index": 0 }]
      ]
    },
    "Generate Prompts (Claude)": {
      "main": [[{ "node": "Parse Claude Response", "type": "main", "index": 0 }]]
    },
    "Parse Claude Response": {
      "main": [[{ "node": "Split By Prompt", "type": "main", "index": 0 }]]
    },
    "Split By Prompt": {
      "main": [
        [{ "node": "Split By Theme", "type": "main", "index": 0 }],
        [{ "node": "Generate Video (Runway)", "type": "main", "index": 0 }]
      ]
    },
    "Generate Video (Runway)": {
      "main": [[{ "node": "Store Task ID", "type": "main", "index": 0 }]]
    },
    "Store Task ID": {
      "main": [[{ "node": "Wait 30s", "type": "main", "index": 0 }]]
    },
    "Wait 30s": {
      "main": [[{ "node": "Poll Video Status", "type": "main", "index": 0 }]]
    },
    "Poll Video Status": {
      "main": [[{ "node": "Read Poll Status", "type": "main", "index": 0 }]]
    },
    "Read Poll Status": {
      "main": [[{ "node": "IF Succeeded", "type": "main", "index": 0 }]]
    },
    "IF Succeeded": {
      "main": [
        [{ "node": "Download Video", "type": "main", "index": 0 }],
        [{ "node": "IF Failed", "type": "main", "index": 0 }]
      ]
    },
    "IF Failed": {
      "main": [
        [{ "node": "Log Failure to Supabase", "type": "main", "index": 0 }],
        [{ "node": "Increment Attempt", "type": "main", "index": 0 }]
      ]
    },
    "Increment Attempt": {
      "main": [[{ "node": "Check Retry Limit", "type": "main", "index": 0 }]]
    },
    "Check Retry Limit": {
      "main": [
        [{ "node": "Wait 30s", "type": "main", "index": 0 }],
        [{ "node": "Log Failure to Supabase", "type": "main", "index": 0 }]
      ]
    },
    "Download Video": {
      "main": [[{ "node": "Upload to R2", "type": "main", "index": 0 }]]
    },
    "Upload to R2": {
      "main": [[{ "node": "Save to Supabase", "type": "main", "index": 0 }]]
    },
    "Save to Supabase": {
      "main": [[{ "node": "Wait Between Videos", "type": "main", "index": 0 }]]
    },
    "Wait Between Videos": {
      "main": [[{ "node": "Split By Prompt", "type": "main", "index": 0 }]]
    },
    "Log Failure to Supabase": {
      "main": [[{ "node": "Wait Between Videos", "type": "main", "index": 0 }]]
    },
    "Error Trigger": {
      "main": [[{ "node": "Log Critical Failure", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
